body {
    font-family: sans-serif
}

#postBtn {
    width: 100%;
    height: 45px;
    background: rgba(240, 240, 240, 1);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 34pt;
    color: #000;
}

.btn {
    width: 50%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background: rgba(240, 240, 240, 1);
    line-height: 28pt;
    text-align: center;
}

.memo {
    font-size: 10px;
    text-align: center;
    margin-bottom: 10px;
}

#time-range {
    float: right;
    width: 70%;
    text-align: center;
}

#time-range input {
    width: 250px;
    text-align: center;
}

.infowin {
    line-height: 18px;
}

#water_filter{
    float: left;
    width: 30%;
    text-align: left;
}
#filter_options{
    overflow: auto;
    margin: 5px;
}

.owl-carousel .item {
    text-align: center;
    padding: 7px;
    background-color: #cccccc;
    color: black;
    /*font-weight: bold;*/
    line-height: 15px;
    font-size: 11px;
    height: 44px;
}

.owl-carousel .item a {
    color: black;
}


#slider-range {
    margin-right: 10px;
    margin-top: 10px;
}

#slider-range .ui-slider-range {
    background: #F79B30;
}

#slider-range .ui-slider-handle {
    border-color: #c0c0c0;
    background: #F79B30;
    border-radius: 10px;
    moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.ui-slider-horizontal {
    height: 0.3em;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
    margin-left: -.6em;
}