body {
    font-family: sans-serif
}

#post {
    text-align: center;
}

input[type=submit] {
    width: 100%;
}

#comment {
    width: 80%
}

.box {
    margin-top: 20px;
    margin-bottom: 20px;
}

.memo {
    font-size: 10px
}

.btn {
    width: 50%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background: rgba(240, 240, 240, 1);
    line-height: 28pt;
    text-align: center;
}