body {
    font-family: sans-serif
}

.button-file {
    border-radius:4px;
    border:1px solid #dcdcdc;
    padding:9px 18px;
    text-decoration:none;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(100%, #f6f6f6) );
    background-color:#ffffff;
    color:#666666;
    display:inline-block;
    text-shadow:-50px -50px 0px #ffffff;
    box-shadow:inset -50px -50px 0px 0px #ffffff;
}

.button-file:active {
      position:relative;
      top: 2px;
}
.hide {
    display: none;
}

#post {
    text-align: center;
}

input[type=submit] {
    width: 100%;
}

#comment {
    width: 80%
}

.box {
    margin-top: 20px;
    margin-bottom: 20px;
}

.box > label {
    font-size: 100%;
}

.box-mini {
    margin: 10px 0;
}

.patchworks {
    margin-bottom: 1em;
}

.memo-title {
    font-size: 14px;
    margin-bottom: 0.5em;
}

.memo {
    font-size: 10px
}

.btn {
    width: 50%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background: rgba(240, 240, 240, 1);
    line-height: 28pt;
    text-align: center;
}
