<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Watermap Post</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="content-style-type" content="text/css">
    <meta http-equiv="content-script-type" content="text/javascript">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/post.css">
</head>

<body>
{% include "analyticstracking.html" %}
<form action="{{ php_self }}" method="POST" id="post" onsubmit="return confirm('送信してもいいですか？');">
    <input type="hidden" name="_token" value="{{ csrfToken() }}">
    <br>
    <h2>ニュース</h2>
    <div class="box">
        <span class="memo">タイトル</span><br>
        <input type="text" id="title" name="title" value="" style="width: 80%;">
    </div>
    <div class="box">
        <span class="memo">URL</span><br>
        <input type="text" id="url" name="url" value="" style="width: 80%;">
    </div>
    <div class="box">
        <input type="submit" name="submit" value="投稿">
    </div>
</form>
<p>ユーザー：{{ user.getName }} としてログイン中</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

</body>

</html>
