commands:
  composer_update:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

container_commands:
  01-install_composer:
    command: "curl -s http://getcomposer.org/installer | php"
    cwd: "/var/app/ondeck"
  02-install_dependencies:
    command: "php composer.phar install"
    cwd: "/var/app/ondeck"
  03-cleanup_composer:
    command: "rm -Rf composer.*"
    cwd: "/var/app/ondeck"
  04-set_db_host:
    command: "echo DB_HOST=$RDS_HOSTNAME > .env.elasticbeanstalk"
  05-set_db_name:
    command: "echo DB_DATABASE=$RDS_MY_DB_NAME >> .env.elasticbeanstalk"
  06-set_db_user:
    command: "echo DB_USERNAME=$RDS_USERNAME >> .env.elasticbeanstalk"
  07-set_db_password:
    command: "echo DB_PASSWORD=$RDS_PASSWORD >> .env.elasticbeanstalk"
  08-set_db_port:
    command: "echo DB_PORT=$RDS_PORT >> .env.elasticbeanstalk"
  09-set_s3_bucket:
    command: "echo AWS_BUCKET_NAME=$AWS_BUCKET_NAME >> .env.elasticbeanstalk"
  10-set_s3_region:
    command: "echo AWS_BUCKET_REGION=$AWS_BUCKET_REGION >> .env.elasticbeanstalk"
  11-set_s3_key:
    command: "echo AWS_BUCKET_KEY=$AWS_BUCKET_KEY >> .env.elasticbeanstalk"
  12-set_s3_secret:
    command: "echo AWS_BUCKET_SECRET=$AWS_BUCKET_SECRET >> .env.elasticbeanstalk"
  13-set_s3_version:
    command: "echo AWS_BUCKET_VERSION=$AWS_BUCKET_VERSION >> .env.elasticbeanstalk"
  21-set_digest_realm:
    command: "echo DIGEST_AUTH_REALM=$DIGEST_AUTH_REALM >> .env.elasticbeanstalk"
  22-set_digest_user:
    command: "echo DIGEST_AUTH_USER=$DIGEST_AUTH_USER >> .env.elasticbeanstalk"
  23-set_digest_password:
    command: "echo DIGEST_AUTH_PASSWORD=$DIGEST_AUTH_PASSWORD >> .env.elasticbeanstalk"
  99-config_environment:
    command: "mv /var/app/ondeck/.env.elasticbeanstalk /var/app/ondeck/.env"
